// font for headings
@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@400;800&display=swap');

// font for display
@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@400;800&family=Montserrat:wght@300;400&display=swap');

body {
    font-family: Montserrat, sans-serif;
    font-size: 1.7rem;
}

h1,
h2, 
h3,
h4,
h5,
h6 {
    font-family: BioRhyme;
}