// This is a universal reset to remove default browser styles
*,
*::after,
*::before {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

// This is to reset root font-size to 10px instead of 16 so that
// it is easier to calculate relative values like rem, em, percentage etc
:root {
    font-size: 62.5%;
}