@import "./abstract/variables.scss";

// grid layout for the app
#root {
    color: $platinum;
    display: grid;
    grid-template-columns: repeat(12, minmax(min-content, 1fr));
    grid-template-rows: 80vh auto 40vh;
    grid-template-areas: "hero hero hero hero hero hero hero hero hero hero hero hero"
                         "main main main main main main main main main main main main"
                         "footer footer footer footer footer footer footer footer footer footer footer footer";
}

.header {
    background-color: $french-violet;
    grid-area: hero;
    padding: 5rem 12rem;

    &__heading {
        font-size: 5rem;
    }
}

.main {
    background-color: $shadow-blue;
    color: $rich-black-fogra-29;
    grid-area: main;
    grid-column: 3 / 11;
    height: 50rem;
    padding: 5rem;
}

.footer {
    background-color: $russian-violet-2;
    grid-area: footer;
    padding: 5rem 12rem 0;
}