@import "./abstract/variables.scss";

// grid layout for the app
#root {
    color: $platinum;
    display: grid;
    grid-template-columns: repeat(12, minmax(min-content, 1fr));
    grid-template-rows: 80vh auto 50vh;
    grid-template-areas: "hero hero hero hero hero hero hero hero hero hero hero hero"
                         "main main main main main main main main main main main main"
                         "footer footer footer footer footer footer footer footer footer footer footer footer";
}