@import "../abstract/variables.scss";
@import "../abstract/mixins.scss";

.footer {
    background-color: $russian-violet;
    grid-area: footer;
    padding: 5rem 2rem 0;

    display: flex;
    align-items: flex-end;
    justify-content: center;

    color: $ukrainian-blue;
    font-size: 1.5rem;

    &__text {
      opacity: 0.5;
    }

    // styles for devices with a min-width of 600px
    @include breakpoint(37.5em) {
      // this is just a placeholder value
      padding: 5rem 5rem 0;
    }

    // styles for devices with a min-width of 900px
    @include breakpoint(56.25em) {
      // this is just a placeholder value
      padding: 5rem 12rem 0;
    }
}