@import "../abstract/variables.scss";

.header {
    background-color: $french-violet;
    grid-area: hero;
    padding: 5rem 12rem;
    position: relative;

    &__heading {
        font-size: 5rem;
    }

    &__bg-video {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;

        height: 100%;
        width: 100%;
    }

    &__video {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}