@import "../abstract/variables.scss";
@import "../abstract/mixins.scss";

.header {
    background-color: $french-violet;
    grid-area: hero;
    padding: 5rem 2rem;
    position: relative;

        // styles for devices with a min-width of 600px
        @include breakpoint(37.5em) {
            // this is just a placeholder value
            padding: 5rem;
        }

        // styles for devices with a min-width of 900px
        @include breakpoint(56.25em) {
            // this is just a placeholder value
            padding: 5rem;
        }

    &__heading {
        font-size: 1.7rem;

        // styles for devices with a min-width of 600px
        @include breakpoint(37.5em) {
            // this is just a placeholder value
            font-size: 2rem;
        }

        // styles for devices with a min-width of 900px
        @include breakpoint(56.25em) {
            // this is just a placeholder value
        font-size: 5rem;
        }
    }

    &__bg-video {
        position: absolute;
        top: 0;
        left: 0;
        opacity: .1;
        overflow: hidden;
        height: 100%;
        width: 100%;
    }

    &__video {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}