@import "../abstract/variables.scss";
@import "../abstract/mixins.scss";

.header {
    background-color: $french-violet;
    grid-area: hero;
    padding: 5rem 2rem;
    position: relative;

    @include breakpoint(37.5em) {
        padding: 5rem 12rem;
    }

    &__heading {
        font-size: 1.7rem;

        @include breakpoint(37.5em) {
            font-size: 5rem;
        }
    }

    &__bg-video {
        position: absolute;
        top: 0;
        left: 0;
        opacity: .1;
        overflow: hidden;
        height: 100%;
        width: 100%;
    }

    &__video {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}