@import "../abstract/variables.scss";
@import "../abstract/mixins.scss";

.main {
    background-color: $shadow-blue;
    color: $rich-black-fogra-29;
    grid-area: main;
    grid-column: 3 / 11;
    height: 50rem;
    padding: 5rem;
}