@import "../abstract/variables.scss";
@import "../abstract/mixins.scss";

.main {
    background-color: $shadow-blue;
    color: $rich-black-fogra-29;
    grid-area: main;
    padding: 2rem;

    // styles for devices with a min-width of 600px
    @include breakpoint(37.5em) {
        grid-column: 3 / 11;
        height: 50rem;
    }
}