@import "../abstract/variables.scss";
@import "../abstract/mixins.scss";

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 2rem;

    // styles for devices with a min-width of 600px
    @include breakpoint(37.5em) {
        padding: 2rem;
    }

    @include breakpoint(56.25em) {
        align-items: center;
        justify-content: space-between;

    }

    &__logo {
        color: $mauve;
        font-size: 2rem;

        @include breakpoint(37.5em) {
            font-size: 3rem;
            font-weight: 400;
        }
    }

    &__nav {
        list-style: none;

        &--item {
            display: inline;
            padding: 0 1.3rem;
            text-decoration: none;
        }
    }
}