@import "../abstract/variables.scss";
@import "../abstract/mixins.scss";

.navbar {
    display: flex;
    justify-content: space-between;

    &__logo {
        color: $mauve;
        

        @include breakpoint(56.25em) {
            color: $mauve;
            font-size: 3rem;
            font-weight: 400;
        }
    }

    &__nav {
        list-style: none;

        &--item {
            display: inline;
            padding: 0 1.3rem;
            text-decoration: none;
        }
    }
    
    // styles for devices with a min-width of 600px
    @include breakpoint(37.5em) {
        
    }

    // styles for devices with a min-width of 900px
    @include breakpoint(56.25em) {
        
    }
}