@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@400;800&display=swap');
@import "../abstract/variables.scss";
@import "../abstract/mixins.scss";

.heading {
    color: $russian-violet-2;
    font-family: "BioRhyme", serif;
    font-weight: 800;
    line-height: 1.3;
    text-transform: uppercase;
}

.heading-primary {
    @extend .heading;
    font-size: 3rem;

     // styles for devices with a min-width of 600px
     @include breakpoint(37.5em) {
        // padding: 2rem;
    }

    @include breakpoint(56.25em) {
        padding: 0.5rem 5rem;
    }
}

.heading-secondary {
    @extend .heading;
    font-size: 2.3rem;
    padding-top: 1rem;
}

.heading-tertiary {
    @extend .heading;
    font-size: 1.8rem;
    text-transform: capitalize;
}

.heading-result {
    @extend .heading;
    font-size: 1.7rem;
    text-transform: capitalize;
    font-weight: 400;
    line-height: 2;
    color: white;
}

.paragraph {
    color: $rich-black-fogra-29;
    font-weight: 100;
    font-size: 1em;
}

.link {
    text-decoration: none;
    font-family: "BioRhyme", serif;
    color: white;
}

.link-result {
    @extend .link;
    font-size: 1.7rem;
    line-height: 2.8;
}