//MEDIA QUERIES

//size in px divided by 16 equal breakpoint in em
//450px == 28.125em for mobile screen with 450px width
//600px == 37.5em   for tablets and similar devices
//760px == 47.5em   for tablets and similar devices
//1024 == 64em  for HD screens

@mixin breakpoint($size) {
    @media only screen and (min-width: $size) {
        @content;
    }
}