// color scheme for the project

// shades of blue
/* SCSS HEX */
$midnight-blue: #03045eff;
$dark-cornflower-blue: #023e8aff;
$star-command-blue: #0077b6ff;
$blue-green: #0096c7ff;
$pacific-blue: #00b4d8ff;
$sky-blue-crayola: #48cae4ff;
$middle-blue: #90e0efff;
$blizzard-blue: #ade8f4ff;
$light-cyan: #caf0f8ff;

// shades of white, black, grey
/* SCSS HEX */
$rich-black-fogra-29: #0d1b2aff;
$oxford-blue: #1b263bff;
$bdazzled-blue: #415a77ff;
$shadow-blue: #778da9ff;
$platinum: #e0e1ddff;

// shades of purple
/* SCSS HEX */
$russian-violet: #10002bff;
$russian-violet-2: #240046ff;
$persian-indigo: #3c096cff;
$purple: #5a189aff;
$french-violet: #7b2cbfff;
$amethyst: #9d4eddff;
$heliotrope: #c77dffff;
$mauve: #e0aaffff;